.a-global-input {
    margin-bottom: 12px;
}

.a-global-input:last-child {
    margin-bottom: 0px;
}

.a-global-input input {
    width: 100%;
    height: 42px;
    border: solid 2px #6A2EFD;
    border-radius: 32px;
    background-color: white;
    color: #121212;
    padding-left: 22px;
    padding-right: 22px;
    transition: all ease .2s;
}

.a-global-input input:focus-visible {
    outline-width: 1px;
    outline-style: solid;
    outline-color: #6A2EFD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
    transition: all ease .2s;
}

